<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    
     <script src="app.js"></script>
  </head>
  <body ng-app="wikiApp">
    <div class="container text-center" ng-controller="wikiCtrl">
      <div class="{{success}}">
        <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank"><button class="btn btn-success">Click To See A Random Article</button></a>
      </div>
      <div class="or">
        <h3>OR</h3>
      </div>
      <div class="formDiv">
        <form ng-submit="wikiSearch()" class="text-center">
          <input class="search text-center" ng-model="search" placeholder="Search" type="search" ng-change="clearAll()">  
        </form>
      </div>
      <div class="well repeatDiv success" ng-repeat="obj in res track by $index">
        <h3>{{obj.title}}</h3>
        <h5>{{obj.description}}</h5>
        <a href={{obj.link}} target="_blank">see page</a>
      </div>
    </div>
  </body>
</html>